* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 90%;
	margin: auto;
}

.logo-container {
	background: blue;
	flex: 1;
}

nav {
	background: red;
	flex: 2;
}

.cart {
	background: gray;
	flex: 1;
}

